<body class="landing">
	<!-- Banner -->
		<section id="banner">
			<i class="icon fa-heart-o"></i>
			<h2>Starlight Schapendoes</h2>
			<p>Rescue | Puppies</p>
			<ul class="actions">
				<li><a href="#rescue" class="button big special">Learn More</a></li>
			</ul>
		</section>

	<!-- One -->
		<section id="rescue" class="wrapper style1">
			<div class="inner">
				<article class="feature left">
					<span class="image"><%= link_to image_tag("thumbnails/boys.jpg"), '/rescue' %></span>
					<div class="content">
						<h2>Resuce</h2>
						<p>We have dogs ready to be rescued.</p>
						<ul class="actions">
							<li>
								<%= link_to "More", '/rescue', class: "button alt" %>
							</li>
						</ul>
					</div>
				</article>
				<article class="feature right">
					<span class="image"><%= link_to image_tag("thumbnails/livingroom2.jpg"), '/puppies' %></span>
					<div class="content">
						<h2>Puppies</h2>
						<p>Check out our cute puppies!</p>
						<ul class="actions">
							<li>
								<%= link_to "More", '/puppies', class: "button alt" %>
							</li>
						</ul>
					</div>
				</article>
			</div>
		</section>

	<!-- Two -->
		<!-- <section id="two" class="wrapper special">
			<div class="inner">
				<header class="major narrow">
					<h2>Aliquam Blandit Mauris</h2>
					<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
				</header>
				<div class="image-grid">
					<%= link_to image_tag("thumbnails/puppy1.JPG"), asset_path("puppy1.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/puppy2.JPG"), asset_path("puppy2.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/puppy3.JPG"), asset_path("puppy3.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/puppy4.JPG"), asset_path("puppy4.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/puppy5.JPG"), asset_path("puppy5.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/puppy6.JPG"), asset_path("puppy6.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/puppy8.jpg"), asset_path("puppy8.JPG"), class: "image" %>
					<%= link_to image_tag("thumbnails/yard2.jpg"), asset_path("yard2.jpg"), class: "image" %>
				</div>
				<ul class="actions">
					<li><a href="#" class="button big alt">Tempus Aliquam</a></li>
				</ul>
			</div>
		</section> -->

	<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major narrow	">
					<h2>Our dogs</h2>
					<p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
				</header>
				<ul class="actions">
					<li><a href="/dogs" class="button big alt">More</a></li>
				</ul>
			</div>
		</section>

	

</body>
