<body class="landing">
<!-- Two -->
  <section id="banner" >
    <div class="wrapper special">
    <div class="inner">
      <header class="major narrow">
        <h2>Puppies</h2>
        <p class="explanation-text">Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
      </header>
      <hr />
      <div class="image-grid">
        <%= link_to image_tag("thumbnails/puppy1.JPG"), asset_path("puppy1.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/puppy2.JPG"), asset_path("puppy2.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/puppy3.JPG"), asset_path("puppy3.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/puppy4.JPG"), asset_path("puppy4.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/puppy5.JPG"), asset_path("puppy5.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/puppy6.JPG"), asset_path("puppy6.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/puppy8.jpg"), asset_path("puppy8.JPG"), class: "image" %>
        <%= link_to image_tag("thumbnails/yard2.jpg"), asset_path("yard2.jpg"), class: "image" %>
      </div>
      <hr />
      <ul class="actions">
        <li><a href="/dogs" class="button big alt">Our dogs</a></li>
      </ul>
    </div>
  </div>
  </section>
</body>
